.about-us {

    &__wrapper {
        padding: 0 16px 16px 16px;
    }      
    
    &__photo {
        display: block;

        min-width: 320px;
        width: 95%;
        height: auto;
       
        margin: 0 auto 16px auto;
    }

    &__show-more {
        display: flex;
        align-items: center;
        margin: 16px 0 16px 0;
    }

}


@include laptop {

    .about-us {

        &__wrapper {
            height: 230px;
            position: relative;
            padding-bottom: 0;
            padding: 0 24px 0 24px;
        }

        &__text {
            width: 46%;
        }
    
        &__photo {
            width: 360px;
            height: 208px;
            border-radius: 0.5em;
            
            position: absolute;
            top: 0px;
            right: 3.5%;
        }

    }

}

@include desktop {
    
    .about-us {

        height: 360px;

        &__wrapper {
            position: relative;
            padding: 0 40px 80px 40px;
        }
    
        &__photo {
            width: 531px;
            height: 307px;
            
            position: absolute;
            top: 0px;
            right: 3.5%;
        }

        &__text span {
            display: inline !important;
        }
    }
    
}        


