.right-bar {
    height: 100vh;
    right: 0;
}

@include desktop {
    .right-bar {
        max-width: 440px;
        width: 440px;

        &__wrapper {
            width: 440px;
            padding: 24px;

            &::before {
                content: " ";
                
                background: $color__turquoise;
                width: 4px;
                height: 40px;
                border-radius: 0 3px 3px 0;
            
                position: absolute;
                left: 0px;
                top: 36px;
                z-index: 400;
            }
        }
       
    }
}

