.prices {

    &__wrapper{
        padding: 0 16px 48px 16px;
    }

    &__subtitle {
        margin-bottom: 10px;
    }

    &__swiper {
        height: 232px;
    }

}

.prices-swiper {

    &__wrapper {
        padding: 0;
    }

    &__card {
    
        width: 260px;
        height: 200px;
    
        list-style: none;
        background-color: white;
    
        flex-shrink: 0;
    
        position: relative;
    }
    
    &__description {

        list-style: none;

        height: 100%;
    
        margin: 0;
        padding: 14px 14px 16px 14px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    
    &__servise-name {

        font-weight: normal;
        font-size: 1em;

        margin: 0;
        
    }

    &__term {

        color: $color__gray;
    }

    &__button {
        position: absolute;
        right: 14px;
        bottom: 14px;
    }
    
}

.disclaimer {

    &__text {
        line-height: 1.43;
        margin: 0 0 16px 0;
    }

    &__link-wrapper {
        display: flex;
        gap: 14px;
    }

    &__link {

        font-size: 16px;
        font-weight: 600;
        min-width: 193px;
        
        position: relative;

        &::after {

            content: '';
            @include more-sign($more-sign__red);

            position: absolute;
            left: 200px;
            top: 5.5px;
        }
        }

}

@media (min-width: 334px) {
    .disclaimer__link::after {
        left: 309px;
    }
}

@include laptop {

    .prices__swiper {
        height: auto;
        margin: 0 auto 24px auto;
    }

    .prices__wrapper{
        padding: 0 24px 48px 24px;
    }
    
    .prices-swiper {
        overflow: visible;

        &__wrapper {
            gap: 0;
        }

        &__card {
           flex-basis: 100%; 
           flex-shrink: 0;
           height: auto;
           box-sizing: border-box;

           &:not(:nth-child(-n+2))::before {
                content: '';
                display: block;
                height: 1px;
                width: 97.5%;
                margin: 0 auto;
                background-color: $color__gray-light;
           }
        }

        &__description {

            display: grid;
            grid-template-columns: 2.6fr 0.7fr 0.7fr 119px;
            align-items: center;

            padding: 14px;
            
            &--headings {
                background-color: $color__body-bg;
            }
        }

        &__plug {
            display: block;
            width: 119px;
            height: 1px;
            color: transparent;
        }

    }
    
    .prices-swiper__button {
        position: static;
    }

    .disclaimer__text {
        width: 50%;
    }
}

@include desktop {

    .prices__wrapper{
        padding: 0 40px 0 40px;
    }
    
    .prices-swiper__description {
        padding: 16px 22px;
    }

}

