.technics {

    &__swiper {
        height: 212px;
        margin: 0 auto 24px auto;
    }

    &__item { 
        
        width: 224px;
        height: 160px;
        
        background-color: white;
        
        font-size: 1.15em;
    
        padding: 14px;
        margin: 0;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 

    &__name {
        font-weight: normal;
        align-self: flex-start;
        margin: 0;
    }

    &__icon-go {
        align-self: flex-end;
        flex-shrink: 0;
    }

    &__show-more {
        display: none;
    }
}

@include laptop {

    .technics {

        &__swiper {
            height: auto;
        }

        &__show-more {
            display: block;
        }

        &__swiper-slide--hidden {
            display: none;
        }

    }

}

@media (min-width: 1033px) {
    .technics__swiper-slide--hidden {
        &:nth-child(4) {
            display: block;
        }
    }
}
