.show-more {
 
    width: fit-content;
    font-size: 1.15em;

    display: none;

    background-color: $color__body-bg;
    border: transparent;
    padding: 0;

    &::before {
        content: '';
        display: block;

        width: 24px;
        height: 24px;
        background-image: url(../img/expand.svg);

        transition: transform 0.2s;
    }

    &--indents {
        margin: 0 0 24px 30px;
    }
}

.show-more.show-more--reverse::before {
    transform: rotate(180deg);
}

@include laptop {
    .show-more{
        
        display: flex;
        align-items: center;

        &--indents {
            margin: 0 0 24px 38px;
        }
    }
}

@include desktop {
    .show-more {
        &--indents {
            margin: 0 0 24px 54px;
        }
    }
}
